:root {
	--max-panel-width: 1400px;

	--mawi-dark: rgb(58,44,52);
	--mawi-dark-70: rgba(58,44,52,0.7);
	
	--mawi-green: rgb(36,180,177);
	--mawi-green-70: rgba(36,180,177,0.7);
	--mawi-green-120: rgb(30,148,144);

	--mawi-pink: rgb(231,167,168);
	--mawi-orange: rgb(247,171,24);
	--mawi-red: rgb(235,90,97);
	--mawi-deeper-red: rgb(357,78,52);
	--mawi-blue: rgb(33,88,165);

	--mawi-light-grey-outline: rgb(245,245,245);
	--mawi-mid-grey: rgba(200,200,200);

	--header-height: 120px;
	--joint-col-width: 250px;
	--joint-height: 150px;

	--add-step-size: 35px;

}

html,body {
  color: #444;
  font-family: 'Verdana', sans-serif;
  font-family: 'Open Sans', sans-serif;
  margin:0;
  padding:0;
  overflow-x: hidden;
  cursor: default;
}
body{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container_width{
	max-width: var(--max-panel-width);
	margin: 0 auto;
	padding: 0 50px 0 var(--joint-col-width);
}

header{
	z-index:20;
	position:relative;
	height: var(--header-height);
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header h1{
	margin:0;
	text-transform: uppercase;
	font-size: 2.2em;
}
header:before{
	height: var(--header-height);
	position: absolute;
	content: "";
	left: -100%;
	top:0;
	right: -100%;
	z-index:-20;
	background-color: var(--mawi-dark);
}

.connection_status{
	position: relative;
}
.connection_status:before{
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	background: var(--mawi-red);
	border: 4px solid white;
	left: -30px;
	top: -2px;
}
.connection_status.connected:before{
	background: var(--mawi-green);
}

.main_nav{
	margin:15px 0;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.sq_nav{
	display: flex;
	flex-wrap: wrap;
}
.sq_nav a, .control_nav a{
	font-family: "Raleway";
	font-weight: 500;
	font-size: 1.1em;
	color: white;
	background-color: var(--mawi-dark-70);
	text-decoration:none;
	padding: 0.8em 1.2em;
	display: block;
	border-radius: 12px;
	margin: 0 7px 7px 0; 
	border: 4px solid transparent;
	box-sizing: border-box;
	min-width: 60px;
}
.sq_nav a:hover{
	border-color: var(--mawi-dark);
}
.sq_nav a.sq_current{
	background-color: var(--mawi-dark);
}
.sq_nav a.sq_add{
	font-weight: bold;
	background: transparent url('assets/add_mawi_dark.svg');
	border-color: var(--mawi-dark);
	opacity:0.7;
	background-position: 50% 50%;
	background-size: 30%;
	background-repeat: no-repeat;
}
.sq_nav a.sq_add:hover{
	opacity:1;
	background-image: url('assets/add_white.svg');
	background-color: var(--mawi-green-70);
	border-color: var(--mawi-green);
	color: white;
}
.control_nav a{
	margin: 0 0 7px 7px; 
}
.control_nav a.upload_and_run{
	background-color: var(--mawi-green);
	font-weight: bold;
	text-transform: uppercase;
}
.control_nav a.upload_and_run:hover{
	border-color: var(--mawi-green-120);
}


.scale_container{
	position:relative;
	overflow:hidden;
}
.scale{
	height: 60px;
	left: 12px;
	margin-bottom: 10px;
	position:relative;
	width: 3000px;
}
.scale .major{
	width: 2px;
	background: var(--mawi-mid-grey);
	height: 22px;
	display:block;
	position:absolute;
	bottom: 4px;
	transform: translateX(-1px);
}
.scale .major:before{
	content: attr(data-value);
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 0.8em;
	position: relative;
	top: -18px;
	text-align: center;
	display: block;
	width: 50px;
	left: -25px;
	color: var(--mawi-mid-grey);
}
.scale .minor{
	width: 2px;
	background: var(--mawi-mid-grey);
	height: 13px;
	display:block;
	position:absolute;
	bottom: 4px;
	transform: translateX(-1px);
}
.scale:hover .major, .scale:hover .minor{
	background: rgba(0,0,0,0.7);
}
.scale:hover .major:before{
	color: rgba(0,0,0,0.7);
}
.scale.is_dragging .major, .scale.is_dragging .minor{
	background: var(--mawi-green);
}
.scale.is_dragging .major:before{
	color: var(--mawi-green);
}



.joint{
	border: 6px solid var(--mawi-light-grey-outline);
	display: block;
	border-radius: 20px;
	position: relative;
	padding: 6px 6px 6px 0;
	margin-bottom: 10px;
}
.joint h2{
	position: absolute;
	font-family: "Raleway";
	font-weight: 800;
	text-transform: uppercase;
	width: var(--joint-col-width);
	left: calc(0px - var(--joint-col-width));
	text-align: right;
	margin: 0;
	padding-right: 30px;
	box-sizing: border-box;
	top: 0;
	bottom: 0;
	opacity: 0.8;
	font-size: 1.9em;
	display: flex;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
}
.joint.joint_empty h2{
	font-size: 1.4em;
	opacity: 0.2;
} 



.steps{
	display:flex;
	min-height: 35px;
	flex-wrap: nowrap;
	overflow: hidden;
	border-radius: 10px;
}
.step{
	min-width: 50px;
	height: var(--joint-height);
	background-color: rgb(220,220,220);
	border-radius: 12px;
	font-family: "Open Sans";
	font-weight: 600;
	color: white;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	z-index: 50;
}

.step .transition{
	flex-grow: 1;
	display:flex;
	align-items: flex-end;
	padding: 0 5px;
}
.step .start_value, .step .end_value{
	font-size: 1.4em;
	padding: 1px 3px;
	margin: 4px 2px;
	border-radius: 5px;
	cursor: text;
}
.step .start_value:after, .step .end_value:after{
	content: "°";
}
.step .start_value:hover, .step .end_value:hover, .step .start_value:focus, .step .end_value:focus{
	background-color: rgba(255,255,255,0.25);
}
.step .ease_value{
	border-bottom: 1px solid white;
	flex-grow: 1;
	margin: 0 10px 18px 10px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
.step:not(:nth-of-type(2)) .start_value{
	display:none;
}
.step .other-data{
	height: 25px;
	background: rgba(0,0,0,0.25);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.step .duration_value{
	font-size: 0.7em;
	opacity: 0.5;
	margin-right: 15px;
}
.step .duration_value:after{
	content: "ms";
}
.step .delete_step{
	position: absolute;
	position: absolute;
	background-color: var(--mawi-red);
	color: white;
	text-decoration: none;
	right: 8px;
	top: 8px;
	font-size: 0.8em;
	text-transform: uppercase;
	padding: 0.2em 0.4em;
	border-radius: 5px;
	display:none;
}
.step:hover .delete_step{
	display: block;
}
.step .delete_step:hover{
	background-color: var(--mawi-deeper-red); 
}
.step .step_drag{
	background: rgba(0,0,0,0.25);
	display: none;
	left: 5px;
	top: 50px;
	position: absolute;
	bottom: 50px;
	width: 6px;
	border-radius: 2.5px;
	cursor: ew-resize;
}
.step .step_drag:hover{
	background: rgba(0,0,0,0.7);
}
.step .step_drag.drag_right{
	left: initial;
	right: 5px;
}
.step:hover .step_drag{
	display: block;
}
.step .step_drag.is_dragging{
	background: var(--mawi-green);
}

/* when less than 200px in width */
.step.small .transition{
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.step.small .ease_value{
	border:none;
	padding: 1px 3px;
	margin: 4px 2px;
	flex-grow: 0;
}


.step_divider{
	width: 9px;
	cursor:ew-resize;
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	z-index: 100;
}
.step_divider:before{
	content:"";
	border-left: 3px dashed rgb(0,0,0,0.3);
	display:none;
	left: 3px;
	top:0;
	bottom:0;
	position: absolute;
}
.step_divider:first-of-type{
	cursor:default;
	width: 6px;
}
.step_divider:first-of-type:before{
	border:none;
}
.step_divider .add_step{
	width: var(--add-step-size);
	height: var(--add-step-size);
	position: absolute;
	background: var(--mawi-green) url('assets/add_white.svg');
	color: white;
	font-size: 2.5em;
	font-family: "Raleway";
	font-weight: 800;
	border: 3px var(--mawi-green) solid;
	border-radius: 12px;
	left: calc(4px - var(--add-step-size)/2);
	top: calc(calc(50% - var(--add-step-size)/2));
	cursor: pointer;
	box-sizing: border-box;
	display: none;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	
}
.step_divider:hover:before{
	display: block;
}
.step_divider:hover .add_step{
	display:block;
}
.step_divider:first-of-type .add_step{
	transform: translateX(13px);
}
.step_divider.is_dragging:before{
	border-color: var(--mawi-green);
}
.step_divider.is_dragging .add_step{
	display: none;
}
.steps.hide_add_buttons .add_step{
	/* use this when dragging the slider for an individual block */
	display:none;
}

.joint_empty .step_divider:first-of-type .add_step{
	transform: translateX(18px);
	display:block;
	background-color: var(--mawi-light-grey-outline);
	border-color: transparent;
}
.joint_empty:hover .step_divider .add_step{
	background-color: rgb(200,200,200);
}
.step_divider .add_step:hover, .joint_empty .step_divider:hover .add_step{
	background-color: var(--mawi-green);
	border-color: var(--mawi-green-120);
}





.step_linear{
	background-color: var(--mawi-blue);
}
.step_ease{
	background-color: var(--mawi-orange);
}
.step_bounce{
	background-color: var(--mawi-pink);
}